

.edu{
  margin-top: 50px;
  padding: 20px;
  margin-left: 300px;
}

.edu h2{
  font-size: 32px;
  text-shadow: 2px 2px 2px red;
  
}
/* #secHead{
  animation: heading;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes heading {
  0%   {top: -50px;}
  100% {top: 200px;}
} */

.box1{

  text-align: center;
  width: 330px;
  color: white;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
}
